{{- $s := .Site }}
{{- $sp := $s.Params }}
<nav class="wrap nav menu">
	<a href='{{ absLangURL "" }}' class="nav_brand">
		{{- $logos := $sp.logo }}
		{{- $litPath := absURL ($logos.lightMode) }}
		{{- $darkPath := absURL ($logos.darkMode) }}
		<picture data-lit="{{ $litPath }}" data-dark="{{ $darkPath }}">
			<img src="{{ $litPath }}" alt="{{ $s.Title }} Logo">
		</picture>
		<label class="nav_toggle toggle" title='{{ T "site_menu" }}' role="button">
			{{ partial "sprite" (dict "icon" "harmburger") }}
		</label>
	</a>
	<ul class="nav_body">
		<li class="nav-item">
			{{- partial "search" . }}
		</li>
		{{- $p := . }}
		{{- range $s.Menus.main }}
		<li class="nav-item">
			{{- $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
			{{- with .Page }}
			{{- $active = or $active ( $.IsDescendant .)  }}
			{{- end }}
			{{- $url := absLangURL .URL }}
			{{- if or (hasPrefix .URL "http") (hasPrefix .URL "www.") }}
				{{- $url = .URL }}
			{{- end }}
			<a class="nav-link{{if $active }} active{{end}}" href="{{ $url }}"><span{{if $active }} class="active"{{end}}>{{ T .Identifier | default .Name }}</span></a>
		</li>
		{{- end }}
    {{ if .IsTranslated }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-button" href="#">
          <span>{{ .Language }}</span>
        </a>
        <div class="dropdown-content">
          {{ range .Translations }}
            <a href="{{ .Permalink }}#">{{ .Language.LanguageName }}</a>
          {{ end }}
        </div>
      </li> 
    {{ end }}
		{{ $repo := $sp.source }}
		<li class="nav-item nav_repo">
			<a class="nav-link" href="{{ $repo.url }}" target="_blank">
				{{ if $repo.iconLight }}
					{{- $litPath := absURL ($repo.iconLight) }}
					{{- $darkPath := absURL ($repo.iconDark) }}
					<picture data-lit="{{ $litPath }}" data-dark="{{ $darkPath }}">
						<img src="{{ $litPath }}" alt="{{ $repo.name }} Repo">
					</picture>
				{{ else }}
					{{ $repo.name }}
				{{ end }}
			</a>
		</li>
		<li class="nav-item">{{ partial "mode" . }}</li>
	</ul>
</nav>
